h1{
    color: black;
text-align: center;
font-size: xx-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#fondo{
width: 1340px;
height: 535px;
background-image: url(allboys.jpg);
}

.flex-center{
display: flex;
justify-content: center;
align-items: center;
}

.gif{
    width: 500px;
    height: 375px;
}